/* latin */
@font-face {
    font-family: 'harukaze';
    font-style: normal;
    font-weight: 500;
    src: url(./asset/Harukaze.ttf) format('truetype');
}

@font-face {
    font-family: 'Cherry';
    font-style: normal;
    font-weight: bolder;
    src: url(./asset/Cherry\ Monospace-Light.ttf) format('truetype');
}

body {
    margin: 0;
}

html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Cherry";
    flex-shrink: 3;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 5%;
    margin: auto;
    width: 50%;
    padding: 10px;
    flex-shrink: 3;
    flex-grow: 1;
}


li {
    list-style-type: none;
}

a:link {
    text-decoration: none;
}

a {
    color: black;
}

header {
    background-color: #f0f8f7;
    padding: 15px;
    height: 90px;
}

.contenu {
    position: relative;

}

.topleft {
    position: absolute;
    top: 8px;
    left: 38%;
    font-size: 18px;
    color: white;
    font-family: "cherry";
    font-size: 200%;

}

img {
    width: 100%;
    height: auto;
    opacity: 1;
}

#logo {
    font-size: 80px;
    font-family: "harukaze";
}