@font-face {
    font-family:Lettrine ;
    src: url(./asset/PRECIOSA.TTF);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: century;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 35px;
}


li{
    list-style-type: none;
}

a:link {
    text-decoration: none;
  }

  a {
    color: black;
  }

  header{
    background-color: #f0f8f7;
    padding: 15px;
  }
  
 .contenu{
    position: relative;

   }

.topleft{
    position: absolute;
    top: 8px;
    left: 16xp;
    font-size: 18px;
}
   
img {
    width: 100%;
    height: auto;
    opacity: 1;
}

#logo{
    font-size: 30px;
    font-family:Lettrine

}