/* latin */
@font-face {
    font-family: 'harukaze';
    font-style: normal;
    font-weight: 500;
    src: url(./asset/Harukaze.ttf) format('truetype');
}

@font-face {
    font-family: 'Cherry';
    font-style: normal;
    font-weight: bolder;
    src: url(./asset/Cherry\ Monospace-Light.ttf) format('truetype');
}

.principale {
    display: flex;
}

body {
    margin: 0;
}

html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Cherry";
    flex-shrink: 3;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 5%;
    margin: auto;
    width: 50%;
    padding: 10px;
    flex-shrink: 3;
    flex-grow: 1;
    transition: 0.6s ease;
}


li {
    list-style-type: none;
}

a:link {
    text-decoration: none;
}

a {
    color: black;
}

header {
    background-color: #f0f8f7;
    padding: 15px;
    height: 90px;
}

.contenu {
    position: relative;
    bottom: 20%;
    color: rgb(4, 0, 0);
}

.topleft {
    position: absolute;
    top: 20px;
    right: 37%;
    height: 100px;
    color: white;
    font-family: "cherry";
    font-size: 80px;
}

img {
    width: 100%;
    height: auto;
    opacity: 1;
}

#logo {
    font-size: 80px;
    font-family: "harukaze";
}

.finbar {
    display: flex;
    justify-content: center;
    gap: 8%;
    margin: auto;
    width: 50%;
    padding: 10px;
    flex-shrink: 3;
    flex-grow: 1;
}

.footer {
    background-color: #f0f8f7;
    height: 0%;
}

.scroll-down {
    color: black;
    text-decoration: none;
    position: absolute;
}


.Services {
    display: flex;
    justify-content: center;
    gap: 1%;
    transition: 0, 3 all;
}

.telephone:hover {
    width: 22%;
    height: 10%;
    background: #d4d4c9;
    transition: width 2s;
    box-shadow: rgb(0, 0, 0);
}

.telephone {
    width: 20%;
    height: 8%;
    border: 1px solid black;
    background: #fcfceb;
    padding: 7%;
    margin: 2%;
    border-radius: 10px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 10px 10px 5px lightblue;
    transition: box-shadow .3s;
}

.text-telephone {
    font-weight: 900;
    display: flex;
    justify-content: center;
    font-size: large;
}

.tablette:hover {
    width: 52.60%;
    height: 40%;
    background: #d4d4c9;
    transition: width 2s;
    box-shadow: rgb(0, 0, 0);
}

.tablette {
    width: 47.24%;
    height: 70%;
    border: 1px solid black;
    background: #fcfceb;
    padding: 3%;
    margin: 2%;
    border-radius: 10px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 10px 10px 5px lightblue;
    transition: box-shadow .3s;
}

.text-tablette {
    font-weight: 900;
    display: flex;
    justify-content: center;
    font-size: large;
}

.montre:hover {
    width: 52.60%;
    height: 70%;
    background: #d4d4c9;
    transition: width 2s;
    box-shadow: rgb(0, 0, 0);
}

.montre {
    width: 47.24%;
    height: 55%;
    border: 1px solid black;
    background: #fcfceb;
    padding: 3%;
    margin: 2%;
    border-radius: 10px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 10px 10px 5px lightblue;
    transition: box-shadow .3s;

}

.text-montre {
    font-weight: 900;
    display: flex;
    justify-content: center;
    font-size: large;
}

.tablette-montre {
    gap: 20%;
    margin: 1.45%;
}

.nouveaute {
    font-weight: bolder;
    display: flex;
    justify-content: center;
    font-size: xx-large;
}

img {
    max-width: 100%;
    height: auto;
    display: flex;
}

.item:hover {
    transition: 0.3 all;
    box-shadow: -8px 8px 2px 1px rgb(0, 0, 0, .2);
}


/* Formulaire */

.login-banner {
    background-color: #eee;
    padding: 1.5rem;
    width: 96.85%;
}

/* Styles pour le conteneur principal */
.form-structor {
    position: relative;
    height: 400px;
    width: 500px;
    background-color: #eee;
    border-radius: 15px;
    overflow: hidden;
    margin-left: 34%;
    margin-top: 5%;
    margin-bottom: 4%;
}


.form-title {
    margin-left: 170px;
}

.box1 {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.box2 {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.box3 {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.sinscrire-bouton {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.box4 {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.box5 {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.connecter-bouton {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.finbar-page1 {
    display: flex;
    justify-content: center;
    gap: 8%;
    margin: auto;
    width: 50%;
    padding: 10px;
    flex-shrink: 3;
    flex-grow: 1;
}























































/* Phone */

@media (max-width: 600px) {
    .principale {
        max-width: 170%;
    }

    .contenu {
        width: 140%;
    }
}

/* PC*/

@media (min-width: 600px) {

    .principale {
        max-width: 90%;
    }

    .contenu {
        width: 100%;
    }
}


.page4.html {}